/* You can add global styles to this file, and also import other style files */

    
@import "~bootstrap/dist/css/bootstrap.css";
body{
   
background-image:url(./assets/q.jpg)   ; 
  }
h1{
  background-color: honeydew;
}
h2{
  background-color: hotpink;
}
form{
  background-color: indigo;
} 
h6{
  background-color: rosybrown;
}