form{
    background-color: rgb(105, 128, 255);
    

}
body{
    width:200px;
    padding:20px;
  }

  .container-fluid{
    background-color: rgba(0, 0, 0, 0.374);
    border-radius: 5px;
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
    margin-bottom: 5%;
  }